<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer search</title>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body style="margin-left: 5%; margin-right: 5%" bgcolor="#f0ffff">

{#<img src="/static/image/bmw.jpeg">#}
 <h1 style="text-align: center">CRC SYSTEM</h1>
 <div id="user_info">
     <a href="/cars"> Car Search</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="/stores"> Store Search</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <a href="/customers"> Customer Search</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if request.session.username %}
            <div align="right">
            welcome <font color="red">{{ request.session.username }}</font>
                <a href="/logout">logout</a>
            </div>
         {% else %}
         <script language="javascript">
            document.location = "/index";
          </script>
      {% endif %}
 </div>
<hr/>
<div align="center">
    <form action="/customers">
        <h3>Customer Search</h3><br/>
        <input type="text" width="800px" id="name" name="name" value="{{ name }}"/>
        <input type="submit"/>
    </form>
</div>
<br/>
<div id="car_list">
<table width="100%">
 <tr align="center" bgcolor="aqua">
        <td>Customer_ID</td>
        <td>Customer_Name</td>
        <td>Customer_Phone</td>
        <td>Customer_Addresss</td>
        <td>Customer_Brithday</td>
        <td>Customer_Occupation</td>
        <td>Customer_Gender</td>
    </tr>
  <tr>
      <td colspan="7"><hr style=" height:1px;border:none;border-top:1px dotted #185598;" />
      </td>
  </tr>
{% if customers %}
{% for customer in customers %}
    <tr>
        <td>{{ customer.customer_id }}</td>
        <td>{{ customer.customer_name }}</td>
        <td>{{ customer.customer_phone }}</td>
        <td>{{ customer.customer_address }}</td>
        <td>{{ customer.customer_birthday }}</td>
        <td>{{ customer.customer_occupation }}</td>
        <td>{{ customer.customer_gender }}</td>
    </tr>
    <tr>
          <td colspan="7"><hr style=" height:1px;border:none;border-top:1px dotted #185598;" />
          </td>
    </tr>
{% endfor %}
{% else %}
     <tr>
          <td colspan="7" align="center">no records
          </td>
    </tr>
    <tr>
          <td colspan="7"><hr style=" height:1px;border:none;border-top:1px dotted #185598;" />
          </td>
    </tr>
{% endif %}
</table>
</div>

</body>
</html>