<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>crc system</title>
</head>
<body style="padding-left: 10%; padding-right: 10%" background="/static/image/bg.jpeg">
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div align="center">
<form action="/login">
    <table width="40%">
        <tr>
            <td colspan="2" align="center"><h3>CRC System Login</h3></td>
        </tr>
        <tr>
            <td colspan="2" align="center"></td>
        </tr>
         <tr>
             <td align="center">username : </td>
             <td align="center" width="80%"><input type="text" id="username" name="username"/></td>
         </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td align="center">password : </td>
            <td align="center" width="80%"><input type="password" id="pwd" name="pwd"/></td>
         </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
           <td align="center"><input type="submit"/></td>
            <td align="center"><input type="reset"/></td>
         </tr>

         <tr>
           <td colspan="2" align="center"><font color="red">{{ error }}</font></td>
         </tr>
    </table>
</form>
</div>

</body>
</html>